 .back-drop {
     width: 100%;
     padding-top: 60px;
     padding-bottom: 100px;
     position: fixed;
     top: 0;
     left: 14rem;
     width: 100%;
     height: 100vh;
     background-color: #2444d3;
     display: flex;
     justify-content: center;
     align-items: center;
    


 }

 .login-register-wrapper {
     position: relative;
     height: 750px;
     width: 500px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 2rem;
     border-radius: 5px;
     box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     color: #ffffff;
     background: linear-gradient(180deg, rgba(19,38,79,1) 0%, rgba(22,147,198,1) 52%, rgba(255,255,255,0) 82%);
 }

.nav-btns {
    width: 100%;
    height: 100px;
    padding-top: 460x;
    opacity: 1;
    margin-bottom: 3rem;
}

 .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color:rgba(0, 0, 0, 0.2)
}

