.form{
  width: 97%;
  padding: 1rem;
  background-color: #191D2B;

}

.form .form-group {
  width: 88%;
  height: 100%;
  padding-left: 7rem;
}

.login-btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
  background-color: cyan;
}

.form h3{
  text-align: center;
  color: cyan;
}

.form .form-group label {
  color: #ff1dce;
  /* hot magenta */
  /* color: cyan; */
}

.close-btn {
  color: #ff1dce;
}