.popupInfo {
    font-size: 14px;
<<<<<<< HEAD
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 650;
=======
    color:#ff1dce;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 444;
>>>>>>> 84c41e276a8a8aef80cc9c00c547027a80e2dfb5


}

.popupInfo span{
  color: rgb(6, 168, 168);
text-decoration: underline;
text-align: center;
padding: .5rem;
}
