.popupInfo {
    font-size: 14px;
    color:#ff1dce;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 444;


}

.popupInfo span{
  color: rgb(6, 168, 168);
text-decoration: underline;
text-align: center;
padding: .5rem;
}
