.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // centering this on the x and y axis in order to have it look presentable 
    width: 80%;
}


.hero-header {
    color: white;
    text-align: center;
    font-size: 3.6rem;
    margin-top: 8rem;
    span  {
        font-size: 4.6rem;
        // color: #037FFF;
    }
    .electric{
        color: cyan;
    }
    .ave{
        color: #ff1dce;
    }
}

.intro{
    margin-top: 2rem;
    text-align: center;
    font-size: 88%;
}

// .popup {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     background-color: #2e344e;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .popup-inner {
//     position: relative;
//        padding: 32px;
//        width: 100%;
//        max-width: 640px;
//        background-color: white;

//        .close-btn {
//            position: absolute;
//            top: 16px;
//            right: 16px;
//        }
// }

